<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="3" >
   <!-- <listeners>
        <listener class-name="com.hudl.listeners.ListenerClass" />
        <listener class-name="com.hudl.listeners.MethodInterceptor" />
        <listener class-name="com.hudl.listeners.AnnotationTransformer" />
    </listeners>
-->
    <test thread-count="2" name="Test" parallel="methods">
        <classes>
            <class name="com.hudl.tests.HudlLoginTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->